<!-- Container Title -->
<div class="container">
  <h1 class="text-center p-2 mt-3">{{ title }}</h1>
</div>
<!-- End Continer Title -->

<!-- Container items -->
<div class="container mb-5">
  <hr>
  <ng-container *ngFor="let item of tasks; let i = index">
    <list-item
      [item]='item'
      [index]="i"
      (on-delete)="deleteTask($event)"
      (on-edit)="editTask($event)"
    >
    </list-item>
    <hr>
  </ng-container>
</div>
<!-- End container items -->

<!-- Container Form -->
<div class="container mb-5">
  <task-form
    [edit-task]="taskToEdit"
    [status-tasks]="statusTasks"
    (on-submit)="updateTasks($event)"
  >
  </task-form>
</div>
<!-- End Container Form -->








